:root {
  --size-header: 60px;
}

html,
body,
#__next {
  /* Size */
  height: 100%;
  width: 100%;

  /* Spacing */
  margin: 0;
  padding: 0;

  /* Font */
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}
