.page {
  /* Size */
  height: 100%;
  width: 100%;
}

.content {
  /* Size */
  height: calc(100% - var(--size-header) - 2 * 20px);
  width: calc(100% - 2 * 20px);

  /* Position */
  float: left;

  /* Spacing */
  padding: 20px;
}
